/* Site colors */
:root {
    --background: #131418c2;
    --headercolor: rgb(31, 193, 214);
    --background2: rgba(43, 50, 59, 0.822);
}


/* Text Variables */
:root {
    --textcolor: #ffffff;
    --headersize: 48px;
    --textsize: 20px;
}


/* Portfolio image Variables */
:root {
}


/* ------------------------------------------------------------------------------- */

body{
    background: var(--background2);
    margin: 0;
    font-weight: 300;
    font-family: 'Lexend',  sans-serif;
}

.container {
    width: 80%;
    margin: 0%;
}

header {
    background: var(--background);
    color: var(--headercolor);
    padding-top: 5px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color: var(--textcolor);
    float: left;
    margin-left: 15%;
    font-weight:bolder;
    font-size: 30px;
    outline: var(--headercolor);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 15px;
}


/* --------------------------------------------------------------------------------- */

/* Nav Bar */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 8px;
    margin-top: 10px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 55px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {
    color: var(--headercolor);
}

nav a::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--headercolor);

    position: absolute;
    top: 0%;
    width:0%;
/* Transition effects the way in which the lines show above the nav */
    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;

}

/* --------------------------------------------------------------------------------------------- */

.banner img {
max-height: 75%;
max-width: 100%;

}

/* ------------------------------------------------------------------------------------------- */


section h2, h3, h4 {
    color: var(--headercolor);
    font-size: var(--headersize);
    display: flex;
    display:inline-block;
    justify-content: space-between;
    
    margin-left: 10%;
    padding-top: 5%;
    padding-right: 5%;

    border-right: 5px solid var(--headercolor);
    border-spacing: 50px 50px;
    
}

section p {
    color: var(--textcolor);
    font-size: var(--textsize);
    display:flex;
    display:inline-block;
    justify-content: right;
    margin-left: 30%;
    margin-right: 15%;

}









section span {
    color: var(--textcolor);
    font-size: 18px;
    display: flex;
    display: inline;
    justify-content: right;
    justify-content: space-evenly;
    margin-left: 30%;

}